<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title> {{title}} </title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="current-weather">
            {{#with currently}}
            <div class="img-container">
                <img src="/img/{{icon}}.png" alt="{{icon}}" style="width: 130px">
            </div>
            <div class="text-container">
                <h2> {{ temperature }}&deg; {{summary}}</h2>
            {{/with}}
            <p>{{daily.0.summary}}</p>
            </div>
        </div>
        <div id="chart-container">
            <canvas id="hourlyChart" width="800" height="400"></canvas>
        </div>
        {{>footer}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script src="/js/weatherUI.js"></script>
</body>
</html>